@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Staatliches&family=Play&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
}
h2{
    text-align: center;
    color: white;
}
form {
    width: 100%;
    padding: 2%;
    background-color:#EA5455;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"], input[type="password"] {
    margin-bottom: 1rem;
    padding: 0.5rem 4rem 0.5rem 0;
}

input[type="submit"]{
    margin-top: 2%;
    justify-content: center;
    padding: 0.5rem 4rem 0.5rem 4rem;
    background-color:darkslateblue;
    color: white;
}